@import url('https://fonts.googleapis.com/css?family=Quicksand:400|Raleway:200');

[class*="zocial-"]:before {
    display: inline-block;
    font-family: 'zocial', sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px 3px black;
    width: 2.5em;
}

body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    color: #2d3c49;
}

header {
    font-family: 'Raleway', 'Quicksand', Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #7d97ad;
    padding-bottom: 0;
}

.navbar-expand-lg {
    flex-wrap: wrap;
}

.navbar-toggler {
    border: none;
}

.text-direction {
    text-align: right;
}

.logo {
    padding-top: 10px;
}

.brand-name {    
    float: right;
    padding-top: 0px;
}

.hero {
    margin-top: 30px;
}

.featured-work {
    margin-top: 30px;
}

.featured-work h2 {
    margin-bottom: 15px;
    color: #7d97ad;
}

a {
    font-size: 14px;
    letter-spacing: 0;
    color: #2d3c49;
}

a:hover {
    color: #e91e63;
}

footer {
    margin-top: 35px;
    padding: 20px;
    border-top: 1px solid #7d97ad;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .featured-work figcaption {
        padding-left: 10px;
        float: right;
        text-align: left;
   }     

   .featured-work figcaption p {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 992px) {
    .hidden-md-up {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .brand-name, .brand-name h1 {
        display: inline;
    }

    .hidden-md-down {
        display: none;
    }

    .logo {
        height: 70px;
        width: auto;
        vertical-align: bottom;
    }   
    .brand-name {
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .brand-name h1 {
        font-size: 2.5em;
    }

    .brand-name h5 {
        font-size: .75em;
        margin-bottom: 0;
    }

    .navbar-nav a {
        max-width: 40px;
        margin-left: 20px;
        margin-right: auto;
        padding: 5px;        
    }

    .navbar-nav {
        border-left: 2px solid #7d97ad;
        border-bottom: 2px solid #7d97ad;
    }

    .nav-absolute {
        position: absolute;
        right: 0;
        margin-top: 113px;
        z-index: 10000;
    }

}

@media screen and (max-width: 767px) {
    .featured-work {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .navbar, .navbar-toggler {
        padding: 10px;
    }

    .navbar-brand {
        padding: 0;
    }

    .featured-work {
        margin-top: 0;
    }

    .logo {
        padding-top: 5px;
        height: 45px;
        width: auto;
        vertical-align: top;
    }

    .brand-name {
        padding-left: 8px;
    }

    .brand-name h1 {
        font-size: 1.5em;
    }

    .brand-name h5 {
        font-size: 0.5em;
        margin-bottom: 0;
    }

    .nav-absolute {
        margin-top: 98px;
    }
    
}

@media screen and (max-width: 350px) {    
    .logo {
        padding-top: 5px;
        height: 30px;
        width: auto;
        vertical-align: top;
    }

    .featured-work figcaption p {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .brand-name {
        padding-left: 3px;
    }

    .brand-name h1 {
        font-size: 1.4em;
    }
}